@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
.hero-gradient {
  background: linear-gradient(90deg, #7c3aed, #06b6d4, #f472b6);
  -webkit-background-clip: text;
  color: transparent;
}

.blob {
  filter: blur(48px);
  opacity: .85;
  mix-blend-mode: screen;
}
